@layer components {
  .nav-scroll {
    position: relative;
    box-sizing: content-box;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .nav-scroll::-webkit-scrollbar {
    display: none;
  }

  .nav-scroll > * {
    flex-shrink: 0;
  }
  
  .footer-item {
    @apply mx-3 mb-2 hover:underline;
  }
}

@layer utilities {
  html, body, #__next {
    position: relative;
    @apply w-full bg-white text-gray-900;
  }
  
  button, a {
    @apply focus:outline-none;
  }

  a {
    cursor: pointer;
  }

  p {
    white-space: pre-wrap;
    line-height: 28px;
  }

  .word-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .blog-cover {
    width: 100%;
    height: 100%;
    max-height: 240px;
    object-fit: cover;
  }
  @media (min-width: 640px) {
    .blog-cover {
      max-height: 400px;
    }
  }
  @media (min-width: 768px) {
    .blog-cover {
      max-height: 480px;
    }
  }

  /* body.is-normal {
    cursor: none;
  }

  body.is-mobile {
    cursor: default;
  }

  body.is-normal button, a {
    cursor: none !important;
  }

  body.is-normal .cursor,body.is-normal .follower {
    opacity: 1 !important;
  }

  .cursor,
  .follower {
    opacity: 0;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0; 
    user-select: none;
    pointer-events: none;
  }

  .cursor {
    width: 8px;
    height: 8px;
    background-color: #fff;
    z-index: 1000;
  }
  
  .follower {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #113485;
    z-index: 999;
    text-align: center;
    filter: invert(100%);
    mix-blend-mode: difference;

    will-change: transform;
    -webkit-transition-duration: 100ms;
    -webkit-transition-property: width, height;
    transition-duration: 100ms;
    transition-property: width, height;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .follower span {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    transform: scale(0);
  }

  .cursor.is-active {
    display: none;
  }
  .follower.is-active {
    width: 64px;
    height: 64px;
  }
  */

  .line-animation-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
    color: #113485;
  }

  .line-animation-wrapper:before {
    content: "";
    display: block;
    padding-top: 40%;
  }

  .line-animation-inner {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .line-anim-word {
    position: relative;
    z-index: 0;
  }

  .line-anim-word::before {
    content: '';
    position: absolute;
    display: block;
    right: -40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    mix-blend-mode: overlay;
    z-index: 1;
    animation: line-anim-word 32s ease 2s infinite;
  }

  @keyframes line-anim-word {
    0% {
      right: -40px;
      top: 50%;
    }
    2% {
      right: 8%;
    }
    4% {
      right: 40%;
      top: 0;
    }
    8% {
      right: 100%;
      top: 50%;
    }
    8.1%, 12% {
      right: 100%;
      top: 0;
    }
    16% {
      right: 40%;
      top: 50%;
    }
    18% {
      right: 100%;
      top: 80%;
    }
    18%, 36% {
      right: -40px;
      top: 0;
    }
    38% {
      right: 12%;
      top: 0;
    }
    42% {
      right: 48%;
      top: 50%;
    }
    46% {
      right: 100%;
      top: 0;
    }
    46.1%, 100% {
      right: 100%;
      top: 0;
    }
  }

  .line-animation {
    position: absolute;
    top: 12.5%;
    left: 0;
    width: 100%;
    height: 75%;
    /* transform: rotate(-45deg); */
  }

  .line {
    display: block;
    width: 100%;
    height: 1.2px;
    transform: scale(0, 1);
    background-color: #E5E7EB;
    animation-iteration-count: infinite;
  }

  .line-0 {
    position: absolute;
    top: 0;
    animation: line 8s ease 1s infinite reverse;
  }
  
  .line-1 {
    position: absolute;
    top: 12%;
    animation: line 5.4s ease 4s infinite reverse;
  }

  .line-2 {
    position: absolute;
    bottom: 12%;
    animation: line 6s ease 4.6s infinite reverse;
  }

  .line-3 {
    position: absolute;
    bottom: 0;
    animation: line 8s ease 2s infinite reverse;
  }

  @keyframes line {
    0% {
      transform: scale(0, 1);
      transform-origin: 0 0;
    }
    8% {
      transform: scale(1, 1);
      transform-origin: 0 0;
    }
    8.1% {
      transform: scale(1, 1);
      transform-origin: 100% 0;
    }
    16% {
      transform: scale(0, 1);
      transform-origin: 100% 0;
    }
    16.1%, 100% {
      transform: scale(0, 1);
      transform-origin: 0 0;
    }
  }
}
