html, body, #__next {
	@apply w-full h-full bg-white text-gray-900;
}

@layer components {
  button, a {
    @apply focus:outline-none;
  }

  .nav-scroll {
    position: relative;
    box-sizing: content-box;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .nav-scroll::-webkit-scrollbar {
    display: none;
  }

  .nav-scroll > * {
    flex-shrink: 0;
  }
  
  .footer-item {
    @apply mx-3 mb-2 hover:underline;
  }
}

@layer utilities {
  a {
    cursor: pointer;
  }

  p {
    white-space: pre-wrap;
    line-height: 28px;
  }

  .word-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .blog-cover {
    width: 100%;
    height: 100%;
    max-height: 240px;
    object-fit: cover;
  }
  @media (min-width: 640px) {
    .blog-cover {
      max-height: 400px;
    }
  }
  @media (min-width: 768px) {
    .blog-cover {
      max-height: 480px;
    }
  }
}
